Options -MultiViews
RewriteEngine On

# Important: Correct RewriteBase
RewriteBase /Gestion_des_projets_FIXED/gestion_projets/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]